#
# Date: 11/7/2024
# DeltaMaker printer config file: deltamaker-pro-tc-example.cfg
# Example ToolChanger configuration for DeltaMaker Pro
#
# Configure Halo Tool Dock with 4 swappable tools; T0, T1, T2, and T3
#
# Towers A,B,C
# Tool Bars: 1, 2, 3 
#              C
#            /   \
# (left) 2 /       \ 1 (right)
#        /           \
#      A - - - - - - - B
#          3 (front)
#  
# Status: 1 = tool dock location empty, 2 = tool dock occupied

[gcode_macro INIT_TOOLBAR]
gcode:
   {% set ns = namespace(dock = {'status': 1, 'bar': 3, 'safe': (100.0,-152.0), 'dock': (-68.0,-193.5), 'pick': (-85.5,-225.5), 'bar_z': 291.0, 'below_z': 241.0}) %}
   SAVE_VARIABLE VARIABLE="dock0" VALUE="{ns.dock}"
   {% set ns = namespace(dock = {'status': 1, 'bar': 3, 'safe': (93.0,-150.0), 'dock': (105.0,-193.5), 'pick': (91,-225.5), 'bar_z': 291.0, 'below_z': 241.0}) %}
   SAVE_VARIABLE VARIABLE="dock1" VALUE="{ns.dock}"
   {% set ns = namespace(dock = {'status': 1, 'bar': 3, 'safe': (150,0.0), 'dock': (189.8,-50.8), 'pick': (226,53.3), 'bar_z': 291.0, 'below_z': 241.0}) %}
   SAVE_VARIABLE VARIABLE="dock2" VALUE="{ns.dock}"
   
   
# Must center the tool head before HOMING to avoid hitting docking pins.
#[homing_override]
#gcode:
#   HOMING_OVERRIDE

[gcode_macro HOMING_OVERRIDE]
variable_has_homed: 0
variable_must_center: 0
gcode:
   M118 HOMING_OVERRIDE, must_center={must_center} has_homed={has_homed}
   {% '}
   {% if has_homed > 0 %}
      G91
      G1 Z1 F4000
      G90
      G1 X0 Y0 F10000
      SET_GCODE_VARIABLE MACRO=HOMING_OVERRIDE VARIABLE=must_center VALUE=0
   {% endif %}
   G28
   SET_GCODE_VARIABLE MACRO=HOMING_OVERRIDE VARIABLE=has_homed VALUE=1
   G91
   G1 Z-10 F4000
   G90


# Initialize tool T0 on front tool bar, left position. 
[gcode_macro TC_T0]
variable_status: 1
variable_tool_bar: 3
variable_safe_x: -100.0
variable_safe_y: -152.0
variable_dock_x: -68.0
variable_dock_y: -193.5
variable_pick_x: -82.50
variable_pick_y: -227.5
variable_bar_z: 291.0
variable_below_z: 241.0
gcode:
   M118 TC_T0: status={status} bar={tool_bar} safe=({safe_x},{safe_y}) dock=({dock_x},{dock_y} pick=({pick_x},{pick_y}) z={bar_z}
   SET_TC_STATE
   {% if status == 1 %}
     G1 X0 Y0 Z{bar_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{dock_x} Y{dock_y}
   {% elif status == 2 %}
     G1 X0 Y0 Z{below_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{pick_x} Y{pick_y}
   {% endif %}
   RESTORE_STATE

# Initialize tool T1 on front tool bar, right position.
[gcode_macro TC_T1]
variable_status: 1
variable_tool_bar: 3
variable_safe_x: 93.0
variable_safe_y: -150.0
variable_dock_x: 105.0
variable_dock_y: -194.5
variable_pick_x: 91.0
variable_pick_y: -226.5
variable_bar_z: 291.0
variable_below_z: 241.0
gcode:
   M118 TC_T1: status={status} bar={tool_bar} safe=({safe_x},{safe_y}) dock=({dock_x},{dock_y} pick=({pick_x},{pick_y}) z={bar_z}
   SET_TC_STATE
   {% if status == 1 %}
     G1 X0 Y0 Z{bar_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{dock_x} Y{dock_y}
   {% elif status == 2 %}
     G1 X0 Y0 Z{below_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{pick_x} Y{pick_y}
   {% endif %}
   RESTORE_STATE

# Initialize tool T2 on right tool bar, front position

[gcode_macro TC_T2]
variable_status: 1
variable_tool_bar: 1
variable_safe_x: 150
variable_safe_y: 0
variable_dock_x: 193.8
variable_dock_y: 50.8

variable_pick_x: 226.6  # 225.6
variable_pick_y: 53.3
variable_bar_z: 291.0
variable_below_z: 241.0
gcode:
   M118 TC_T2: status={status} bar={tool_bar} safe=({safe_x},{safe_y}) dock=({dock_x},{dock_y} pick=({pick_x},{pick_y}) z={bar_z}
   SET_TC_STATE
   {% if status == 1 %}
     G1 X0 Y0 Z{bar_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{dock_x} Y{dock_y}
   {% elif status == 2 %}
     G1 X0 Y0 Z{below_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{pick_x} Y{pick_y}
   {% endif %}
   RESTORE_STATE

# Initialize tool T3 on right tool bar, rear position
[gcode_macro TC_T3]
variable_status: 1
variable_tool_bar: 1
variable_safe_x: 75.0
variable_safe_y: 198.0
variable_dock_x: 108.8
variable_dock_y: 194.4
variable_pick_x: 145.6
variable_pick_y: 198.8
variable_bar_z: 291.0
variable_below_z: 241.0
gcode:
   M118 TC_T3: status={status} bar={tool_bar} safe=({safe_x},{safe_y}) dock=({dock_x},{dock_y} pick=({pick_x},{pick_y}) z={bar_z}
   SET_TC_STATE
   {% if status == 1 %}
     G1 X0 Y0 Z{bar_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{dock_x} Y{dock_y}
   {% elif status == 2 %}
     G1 X0 Y0 Z{below_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{pick_x} Y{pick_y}
   {% endif %}
   RESTORE_STATE

# Initialize tool T4 on left tool bar, front position.
[gcode_macro TC_T4]
variable_status: 1
variable_tool_bar: 2
variable_safe_x: -150
variable_safe_y: 5
variable_safe_x: 100.0
variable_safe_y: 140.0
variable_dock_x: -98.7
variable_dock_y: 37.6
variable_pick_x: 0
variable_pick_y: 0
variable_bar_z: 291.0
variable_below_z: 241.0
gcode:
   M118 TC_T4: status={status} bar={tool_bar} safe=({safe_x},{safe_y}) dock=({dock_x},{dock_y} pick=({pick_x},{pick_y}) z={bar_z}
   SET_TC_STATE
   {% if status == 1 %}
     G1 X0 Y0 Z{bar_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{dock_x} Y{dock_y}
   {% elif status == 2 %}
     G1 X0 Y0 Z{below_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{pick_x} Y{pick_y}
   {% endif %}
   RESTORE_STATE

# Initialize tool T5 on left tool bar, rear position.
[gcode_macro TC_T5]
variable_status: 1
variable_tool_bar: 2
variable_safe_x: -100.0
variable_safe_y: 140.0
variable_dock_x: -98.7
variable_dock_y: 140.0
variable_pick_x: 0
variable_pick_y: 0
variable_bar_z: 291.0
variable_below_z: 241.0
gcode:
   M118 TC_T5: status={status} bar={tool_bar} safe=({safe_x},{safe_y}) dock=({dock_x},{dock_y} pick=({pick_x},{pick_y}) z={bar_z}
   SET_TC_STATE
   {% if status == 1 %}
     G1 X0 Y0 Z{bar_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{dock_x} Y{dock_y}
   {% elif status == 2 %}
     G1 X0 Y0 Z{below_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{pick_x} Y{pick_y}
   {% endif %}
   RESTORE_STATE


#[gcode_macro INIT_TOOL_OFFSET]
#gcode:
#   G1 F10000
#   SET_GCODE_OFFSET X=0 Y=0 Z=0.35
#   SAVE_GCODE_STATE NAME=tool_offset_T0
#   SET_GCODE_OFFSET X=-0.2 Y=0 Z=0.25
#   SAVE_GCODE_STATE NAME=tool_offset_T1
#   SET_GCODE_OFFSET X=-0.175 Y=-0.77 Z=0.25
#   SAVE_GCODE_STATE NAME=tool_offset_T2

#######################

[gcode_macro BRUSH_T0]
gcode:
   #BRUSH_NOZZLE X=-50 Y=-90 Z=410 DX=-5 DY=-20 DZ=5

[gcode_macro BRUSH_T1]
gcode:
   #BRUSH_NOZZLE X=100 Y=0 Z=410 DX=15 DY=-5 DZ=5

[gcode_macro BRUSH_T2]
gcode:
   #BRUSH_NOZZLE X=-101 Y=0 Z=425 DX=-20

#######################

[delayed_gcode DANCE_LOOP]
initial_duration: 0
gcode:
      ONE_DANCE
      UPDATE_DELAYED_GCODE ID=DANCE_LOOP DURATION=2

[gcode_macro ONE_DANCE]
gcode:
   SAVE_GCODE_STATE NAME=before_dance
   SET_GCODE_OFFSET X=0 Y=0 Z=0
   G1 Z20 F10000
   G1 X200 Y0 F25000
   G1 X-200
   G1 X0 Y-200
   G1 Y200
   G1 X200 Y0 
   G1 X0
   RESTORE_GCODE_STATE NAME=before_dance

[gcode_macro START_DANCE]
gcode:
   G28
   #G1 Z40 F25000
   #SET_GCODE_OFFSET X=0 Y=0 Z=0
   RESUME_DANCE

[gcode_macro RESUME_DANCE]
gcode:
   SET_VELOCITY_LIMIT VELOCITY=500 ACCEL=5000 ACCEL_TO_DECEL=3000
   UPDATE_DELAYED_GCODE ID=DANCE_LOOP DURATION=2

[gcode_macro PAUSE_DANCE]
gcode:
   SET_VELOCITY_LIMIT VELOCITY=200 ACCEL=2000 ACCEL_TO_DECEL=2000
   UPDATE_DELAYED_GCODE ID=DANCE_LOOP DURATION=0

[gcode_macro STOP_DANCE]
gcode:
   PAUSE_DANCE

