# Date: 11/7/2024   (was 10/7/2020)
# DeltaMaker printer config file: deltamaker-tc-macros.cfg
#
# Towers A,B,C
# Tool Bars: 1, 2, 3 
#           C
#         /   \
#     2 /       \ 1
#     /           \
#   A - - - - - - - B
#           3
#
# Status: 1 = tool dock location empty, 2 = tool dock occupied
#
# Dependencies:  Requires machine specific macros for each tool dock position, 
#  with the following naming convention: TC_T0, TC_T1, TC_T2, TC_T3, etc.
#
# Example: required variable name and example values.
# Initialize tool Tn on front tool bar
[gcode_macro TC_Tn]
variable_status: 1
variable_tool_bar: 3
variable_safe_x: 0.0
variable_safe_y: -70.0
variable_dock_x: 16.8
variable_dock_y: -107.0
variable_pick_x: 3.3
variable_pick_y: -140.5
variable_wipe_x: 12.0
variable_wipe_y: -71.0
variable_wipe_z: 395.0
variable_bar_z: 374.5
variable_below_z: 325.0
gcode:
   M118 TC_T0: status={status} bar={tool_bar} safe=({safe_x},{safe_y}) dock=({dock_x},{dock_y} pick=({pick_x},{pick_y}) z={bar_z}
   SET_TC_STATE
   {% if status == 1 %}
     G1 X0 Y0 Z{bar_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{dock_x} Y{dock_y}
   {% endif %}
   {% if status == 2 %}
     G1 X0 Y0 Z{below_z}
     G1 X{safe_x} Y{safe_y}
     G1 X{pick_x} Y{pick_y}
   {% endif %}
   RESTORE_STATE

##### 

[gcode_macro TC_SAVE_SAFE]
# Usage: TC_SAVE_SAFE DOCK=<number>
gcode:
   {% if 'DOCK' in params %}
     {% set dock_key = 'dock' ~ params.DOCK %}
     {% set svv = printer.save_variables.variables %}
     {% set d = svv.get(dock_key, None) %}
     {% if d != None %}
       {% set safe = (printer.gcode_move.position.x|round(1), printer.gcode_move.position.y|round(1)) %}
       {% set ns = namespace(dock={'status': d.status, 'bar': d.bar, 'safe': safe, 'dock': d.dock, 'pick': d.pick, 'bar_z': d.bar_z, 'below_z': d.below_z}) %}
       {% if 'MOVE' in params %}
          M118 Move to {d.safe}
          G1 Z{d.bar_z}
          G1 X{d.safe[0]} Y{d.safe[1]} 
       {% else %}
          M118 TC_SAVE_SAFE: safe {safe}
          SAVE_VARIABLE VARIABLE={dock_key} VALUE="{ns.dock}"
        {% endif %}
     {% endif %}
   {% else %}
       M118 TC_SAVE_SAFE DOCK=<number>
   {% endif %}

#####


# Must center the tool head before HOMING to avoid hitting docking pins.
[homing_override]
gcode:
   HOMING_OVERRIDE

[gcode_macro HOMING_OVERRIDE]
variable_must_center: 0
gcode:
   M118 HOMING_OVERRIDE, must_center={must_center}
   {% if must_center > 0 %}
      SET_GCODE_VARIABLE MACRO=HOMING_OVERRIDE VARIABLE=must_center VALUE=0
      G90
      G1 X0 Y0 F10000
   {% endif %}
   G28
   G91
   G1 Z-10 F4000
   G90

##########
#
# Must implement tool selection macros: T0, T1, T2, etc.
#
[gcode_macro T0]
gcode:
   LIFT_NOZZLE
   {% if printer.toolhead.extruder == "extruder" %}
      SAVE_GCODE_STATE NAME=tool_offset_T0
   {% elif printer.toolhead.extruder == "extruder1"%}
      SAVE_GCODE_STATE NAME=tool_offset_T1
      DOCK_T1
      PICK_T0
   {% elif printer.toolhead.extruder == "extruder2"%}
      SAVE_GCODE_STATE NAME=tool_offset_T2
      DOCK_T2
      PICK_T0
   {% endif %}
   BRUSH_T0
   RESTORE_GCODE_STATE NAME=tool_offset_T0 MOVE=1 MOVE_SPEED=10000
   ACTIVATE_EXTRUDER EXTRUDER=extruder
 
[gcode_macro T1]
gcode:
   LIFT_NOZZLE
   {% if printer.toolhead.extruder == "extruder" %}
      SAVE_GCODE_STATE NAME=tool_offset_T0
      DOCK_T0
      PICK_T1
   {% elif printer.toolhead.extruder == "extruder1"%}
      SAVE_GCODE_STATE NAME=tool_offset_T1
   {% elif printer.toolhead.extruder == "extruder2"%}
      SAVE_GCODE_STATE NAME=tool_offset_T2
      DOCK_T2
      PICK_T1
   {% endif %}
   BRUSH_T1  
   RESTORE_GCODE_STATE NAME=tool_offset_T1 MOVE=1 MOVE_SPEED=10000
   ACTIVATE_EXTRUDER EXTRUDER=extruder1

[gcode_macro T2]
gcode:
   LIFT_NOZZLE
   {% if printer.toolhead.extruder == "extruder" %}
      SAVE_GCODE_STATE NAME=tool_offset_T0
      DOCK_T0
      PICK_T2
   {% elif printer.toolhead.extruder == "extruder1"%}
      SAVE_GCODE_STATE NAME=tool_offset_T1
      DOCK_T1
      PICK_T2
   {% elif printer.toolhead.extruder == "extruder2"%}
      SAVE_GCODE_STATE NAME=tool_offset_T2
   {% endif %}
   BRUSH_T2
   RESTORE_GCODE_STATE NAME=tool_offset_T2 MOVE=1 MOVE_SPEED=10000
   ACTIVATE_EXTRUDER EXTRUDER=extruder2


#######################
#
# Nozzle Wipe before PICK
#
[gcode_macro WIPE_T0]
gcode:
  {% if printer["gcode_macro TC_T0"].status == 2 %}
    #SET_GCODE_VARIABLE MACRO=TC_T0 VARIABLE=status VALUE=1
    WIPE_TOOL BAR={printer["gcode_macro TC_T0"].tool_bar} X0={printer["gcode_macro TC_T0"].safe_x} Y0={printer["gcode_macro TC_T0"].safe_y} Z0={printer["gcode_macro TC_T0"].below_z} X1={printer["gcode_macro TC_T0"].wipe_x} Y1={printer["gcode_macro TC_T0"].wipe_y} Z1={printer["gcode_macro TC_T0"].wipe_z} X={printer["gcode_macro TC_T0"].pick_x} Y={printer["gcode_macro TC_T0"].pick_y}
  {% endif %}

[gcode_macro WIPE_T1]
gcode:
  {% if printer["gcode_macro TC_T1"].status == 2 %}
    #SET_GCODE_VARIABLE MACRO=TC_T1 VARIABLE=status VALUE=1
    WIPE_TOOL BAR={printer["gcode_macro TC_T1"].tool_bar} X0={printer["gcode_macro TC_T1"].safe_x} Y0={printer["gcode_macro TC_T1"].safe_y} Z0={printer["gcode_macro TC_T1"].below_z} X1={printer["gcode_macro TC_T1"].wipe_x} Y1={printer["gcode_macro TC_T1"].wipe_y} Z1={printer["gcode_macro TC_T1"].wipe_z} X={printer["gcode_macro TC_T1"].pick_x} Y={printer["gcode_macro TC_T1"].pick_y}
  {% endif %}

[gcode_macro WIPE_T2]
gcode:
  {% if printer["gcode_macro TC_T2"].status == 2 %}
    #SET_GCODE_VARIABLE MACRO=TC_T2 VARIABLE=status VALUE=1
    WIPE_TOOL BAR={printer["gcode_macro TC_T2"].tool_bar} X0={printer["gcode_macro TC_T2"].safe_x} Y0={printer["gcode_macro TC_T2"].safe_y} Z0={printer["gcode_macro TC_T2"].below_z} X1={printer["gcode_macro TC_T2"].wipe_x} Y1={printer["gcode_macro TC_T2"].wipe_y} Z1={printer["gcode_macro TC_T2"].wipe_z} Z={printer["gcode_macro TC_T2"].below_z} X={printer["gcode_macro TC_T2"].pick_x} Y={printer["gcode_macro TC_T2"].pick_y}
  {% endif %}



#
### PICK and DOCK commands for each tool docking position
# Add additional pairs of PICK_Tn and DOCK_Tn as needed
#
[gcode_macro PICK_T0]
gcode:
  {% if printer["gcode_macro TC_T0"].status == 2 %}
    SET_GCODE_VARIABLE MACRO=TC_T0 VARIABLE=status VALUE=1
    WIPE_AND_PICK BAR={printer["gcode_macro TC_T0"].tool_bar} X0={printer["gcode_macro TC_T0"].safe_x} Y0={printer["gcode_macro TC_T0"].safe_y} X={printer["gcode_macro TC_T0"].pick_x} Y={printer["gcode_macro TC_T0"].pick_y} Z={printer["gcode_macro TC_T0"].bar_z} Z0={printer["gcode_macro TC_T0"].below_z} X1={printer["gcode_macro TC_T0"].wipe_x} Y1={printer["gcode_macro TC_T0"].wipe_y} Z1={printer["gcode_macro TC_T0"].wipe_z}
  {% endif %}
[gcode_macro DOCK_T0]
gcode:
  {% if printer["gcode_macro TC_T0"].status == 1 %}
    SET_GCODE_VARIABLE MACRO=TC_T0 VARIABLE=status VALUE=2
    DOCK_TOOL BAR={printer["gcode_macro TC_T0"].tool_bar} X0={printer["gcode_macro TC_T0"].safe_x} Y0={printer["gcode_macro TC_T0"].safe_y} X={printer["gcode_macro TC_T0"].dock_x} Y={printer["gcode_macro TC_T0"].dock_y} Z={printer["gcode_macro TC_T0"].bar_z} Z0={printer["gcode_macro TC_T0"].below_z} 
  {% endif %}
[gcode_macro PICK_T1]
gcode:
  {% if printer["gcode_macro TC_T1"].status == 2 %}
    SET_GCODE_VARIABLE MACRO=TC_T1 VARIABLE=status VALUE=1
    WIPE_AND_PICK BAR={printer["gcode_macro TC_T1"].tool_bar} X0={printer["gcode_macro TC_T1"].safe_x} Y0={printer["gcode_macro TC_T1"].safe_y} X={printer["gcode_macro TC_T1"].pick_x} Y={printer["gcode_macro TC_T1"].pick_y} Z={printer["gcode_macro TC_T1"].bar_z} Z0={printer["gcode_macro TC_T1"].below_z} X1={printer["gcode_macro TC_T1"].wipe_x} Y1={printer["gcode_macro TC_T1"].wipe_y} Z1={printer["gcode_macro TC_T1"].wipe_z}
  {% endif %}
[gcode_macro DOCK_T1]
gcode:
  {% if printer["gcode_macro TC_T1"].status == 1 %}
    SET_GCODE_VARIABLE MACRO=TC_T1 VARIABLE=status VALUE=2
    DOCK_TOOL BAR={printer["gcode_macro TC_T1"].tool_bar} X0={printer["gcode_macro TC_T1"].safe_x} Y0={printer["gcode_macro TC_T1"].safe_y} X={printer["gcode_macro TC_T1"].dock_x} Y={printer["gcode_macro TC_T1"].dock_y} Z={printer["gcode_macro TC_T1"].bar_z} Z0={printer["gcode_macro TC_T1"].below_z}
  {% endif %}

# TOOL T2
[gcode_macro PICK_T2]
gcode:
  {% if printer["gcode_macro TC_T2"].status == 2 %}
    SET_GCODE_VARIABLE MACRO=TC_T2 VARIABLE=status VALUE=1
    WIPE_AND_PICK BAR={printer["gcode_macro TC_T2"].tool_bar} X0={printer["gcode_macro TC_T2"].safe_x} Y0={printer["gcode_macro TC_T2"].safe_y} X={printer["gcode_macro TC_T2"].pick_x} Y={printer["gcode_macro TC_T2"].pick_y} Z={printer["gcode_macro TC_T2"].bar_z} Z0={printer["gcode_macro TC_T2"].below_z} X1={printer["gcode_macro TC_T2"].wipe_x} Y1={printer["gcode_macro TC_T2"].wipe_y} Z1={printer["gcode_macro TC_T2"].wipe_z}
  {% endif %}
[gcode_macro DOCK_T2]
gcode:
  {% if printer["gcode_macro TC_T2"].status == 1 %}
    SET_GCODE_VARIABLE MACRO=TC_T2 VARIABLE=status VALUE=2
    DOCK_TOOL BAR={printer["gcode_macro TC_T2"].tool_bar} X0={printer["gcode_macro TC_T2"].safe_x} Y0={printer["gcode_macro TC_T2"].safe_y} X={printer["gcode_macro TC_T2"].dock_x} Y={printer["gcode_macro TC_T2"].dock_y} Z={printer["gcode_macro TC_T2"].bar_z} Z0={printer["gcode_macro TC_T2"].below_z}
  {% endif %}
[gcode_macro PICK_T3]
gcode:
  {% if printer["gcode_macro TC_T3"].status == 2 %}
    SET_GCODE_VARIABLE MACRO=TC_T3 VARIABLE=status VALUE=1
    WIPE_AND_PICK BAR={printer["gcode_macro TC_T3"].tool_bar} X0={printer["gcode_macro TC_T3"].safe_x} Y0={printer["gcode_macro TC_T3"].safe_y} X={printer["gcode_macro TC_T3"].pick_x} Y={printer["gcode_macro TC_T3"].pick_y} Z={printer["gcode_macro TC_T3"].bar_z} Z0={printer["gcode_macro TC_T3"].below_z}
  {% endif %}
[gcode_macro DOCK_T3]
gcode:
  {% if printer["gcode_macro TC_T3"].status == 1 %}
    SET_GCODE_VARIABLE MACRO=TC_T3 VARIABLE=status VALUE=2
    DOCK_TOOL BAR={printer["gcode_macro TC_T3"].tool_bar} X0={printer["gcode_macro TC_T3"].safe_x} Y0={printer["gcode_macro TC_T3"].safe_y} X={printer["gcode_macro TC_T3"].dock_x} Y={printer["gcode_macro TC_T3"].dock_y} Z={printer["gcode_macro TC_T3"].bar_z} Z0={printer["gcode_macro TC_T3"].below_z}
  {% endif %}

[gcode_macro PICK_T4]
gcode:
  {% if printer["gcode_macro TC_T4"].status == 2 %}
    SET_GCODE_VARIABLE MACRO=TC_T4 VARIABLE=status VALUE=1
    WIPE_AND_PICK BAR={printer["gcode_macro TC_T4"].tool_bar} X0={printer["gcode_macro TC_T4"].safe_x} Y0={printer["gcode_macro TC_T4"].safe_y} X={printer["gcode_macro TC_T4"].pick_x} Y={printer["gcode_macro TC_T4"].pick_y} Z={printer["gcode_macro TC_T4"].bar_z} Z0={printer["gcode_macro TC_T4"].below_z}
  {% endif %}
[gcode_macro DOCK_T4]
gcode:
  {% if printer["gcode_macro TC_T4"].status == 1 %}
    SET_GCODE_VARIABLE MACRO=TC_T4 VARIABLE=status VALUE=2
    DOCK_TOOL BAR={printer["gcode_macro TC_T4"].tool_bar} X0={printer["gcode_macro TC_T4"].safe_x} Y0={printer["gcode_macro TC_T4"].safe_y} X={printer["gcode_macro TC_T4"].dock_x} Y={printer["gcode_macro TC_T4"].dock_y} Z={printer["gcode_macro TC_T4"].bar_z} Z0={printer["gcode_macro TC_T4"].below_z}
  {% endif %}



#
# Docking process:
#  1. Move to center(0,0) at docking bar Z height
#  2. Move to dock X,Y
#  3. PARK tool on docking pins
#  4. Drop below docked tool
#  5. Move to safe X,Y
#
[gcode_macro DOCK_TOOL]
gcode:
   SET_GCODE_VARIABLE MACRO=HOMING_OVERRIDE VARIABLE=must_center VALUE=1
   BEFORE_DOCK BAR={params.BAR} Z={params.Z}
   G1 X{params.X} Y{params.Y} F20000
   ;G1 Z{params.Z} F10000
   TC_PARK
   {% set pos = (printer.gcode_move.position.x|round(1), printer.gcode_move.position.y|round(1)) %}
   M118 DOCK_TOOL pos = {pos}

   G1 Z{params.Z0} F10000
   G1 X{params.X0} Y{params.Y0} F20000
   AFTER_DOCK Z={params.Z} Z0={params.Z0}

[gcode_macro BEFORE_DOCK]
# Usage: BEFORE_DOCK BAR=1 Z=500
gcode:
   M118 BEFORE_DOCK BAR={params.BAR} Z={params.Z}
   SET_GCODE_VARIABLE MACRO=TC_PARK VARIABLE=tool_bar VALUE={params.BAR}
   SET_TC_STATE
   TC_CENTER Z={params.Z}

[gcode_macro AFTER_DOCK]
# Usage: AFTER_DOCK Z=500
gcode:
   ; 6/23 should center end effector
   TC_CENTER Z={params.Z0}
   RESTORE_STATE

[gcode_macro SET_TC_STATE]
gcode:
   M118 SET_TC_STATE
   SAVE_GCODE_STATE NAME=before_tc_state
   SET_GCODE_OFFSET X=0 Y=0 Z=0
   M220 S100
   SET_VELOCITY_LIMIT VELOCITY=300 ACCEL=1000 ACCEL_TO_DECEL=500

[gcode_macro RESTORE_STATE]
gcode:
   M118 RESTORE_STATE
   RESTORE_GCODE_STATE NAME=before_tc_state

#
# Pickup process:
#  1. Move to center(0,0) at docking bar Z height (or Z0)
#  2. Move to safe X,Y at Z below bottom of docked tool
#  3. Move to pick X,Y
#  4. Lift to 15mm below docking bar height
#  5. UNPARK tool from docking pins
#  6. Move to safe X,Y

[gcode_macro PICK_TOOL]
gcode:
   SET_GCODE_VARIABLE MACRO=HOMING_OVERRIDE VARIABLE=must_center VALUE=1
   BEFORE_PICK BAR={params.BAR} Z={params.Z0}
   G1 X{params.X0} Y{params.Y0} Z{params.Z0}
   G1 X{params.X} Y{params.Y}
   G1 Z{params.Z|int - 15}
   TC_UNPARK
   G1 X{params.X0} Y{params.Y0}
   AFTER_PICK

[gcode_macro BEFORE_PICK]
# Usage: BEFORE_PICK BAR=1 Z=200
gcode:
   M118 BEFORE_PICK BAR={params.BAR} Z={params.Z}
   SET_TC_STATE
   TC_CENTER
   TC_CENTER Z={params.Z}
   SET_GCODE_VARIABLE MACRO=TC_UNPARK VARIABLE=tool_bar VALUE={params.BAR}

[gcode_macro AFTER_PICK]
gcode:
   ;TC_CENTER
   RESTORE_STATE
   
[gcode_macro TC_CENTER]
#default_parameter_Z = 0
gcode:
   G90
   {% set z = params.Z|default(0)|int %}
   {% if z > 0 %}
      G1 X0 Y0 Z{z} F20000
   {% else %}
      G1 X0 Y0 F20000
   {% endif %}
#
# Wipe process:
#  1. Move to center(0,0) at docking bar Z height (or Z0)
#  2. Move to safe X,Y at Z below bottom of docked tool
#  3. Move to wipe X,Y,Z
#  4. REPEAT the nozzle wipe motion multiple times
#  5. Move to safe X,Y

[gcode_macro WIPE_TOOL]
#default_parameter_BAR: 0
#default_parameter_Z1=0
#default_parameter_REPEAT=1
gcode:
   {% set bar = params.BAR|default(0)|int %}
   {% set z1 = params.Z1|default(0)|int %}
   {% set repeat = params.REPEAT|default(1)|int %}
   M118 WIPE_TOOL tool_bar={BAR} 
   {% if BAR|int > 0 and Z1|int > 0 %}
      SET_GCODE_VARIABLE MACRO=HOMING_OVERRIDE VARIABLE=must_center VALUE=1
      BEFORE_PICK BAR={BAR} Z={params.Z0}
      G1 X{params.X0} Y{params.Y0} Z{Z1}
      G91
      #G1 E5 F300
      {% for wipe in range(REPEAT|int) %}
         G90
         G1 X{params.X1} Y{params.Y1} Z{Z1} F20000
         TC_WIPE BAR={BAR}	
      {% endfor %}
      G1 X{params.X0} Y{params.Y0}
      AFTER_PICK
   {% endif %}

[gcode_macro WIPE_AND_PICK]
#default_parameter_BAR: 0
#default_parameter_Z1=0
#default_parameter_REPEAT=2
gcode:
   {% set bar = params.BAR|default(0)|int %}
   {% set z1 = params.Z1|default(0)|int %}
   {% set repeat = params.REPEAT|default(1)|int %}
   M118 WIPE_AND_PICK tool_bar={bar} 
   {% if bar > 0 %}
      SET_GCODE_VARIABLE MACRO=HOMING_OVERRIDE VARIABLE=must_center VALUE=1
      BEFORE_PICK BAR={bar} Z={params.Z0}
      {% if z1 > 0 %}
         # Horizontal Wipe
         G1 X{params.X0} Y{params.Y0} Z{z1}
         G91
         #G1 E5 F300
         {% for wipe in range(repeat) %}
            G90
            G1 X{params.X1} Y{params.Y1} Z{z1} F20000
            TC_WIPE BAR={bar}	
         {% endfor %}
         #G1 X{params.X0} Y{params.Y0}
      {% endif %}
      # PICK
      G1 X{params.X0} Y{params.Y0} Z{params.Z0}
      G1 X{params.X} Y{params.Y}
      {% if z1 > 0 %}
          # Vertical Wipe
          #G1 Z{params.Z|int - 5} F20000
          #G1 Z{params.Z|int - 40} F20000
          G1 Z{params.Z|int - 3} F20000
          G1 Z{params.Z0}
      {% endif %}
      G1 Z{params.Z|int - 15}
      TC_UNPARK
      G1 X{params.X0} Y{params.Y0}
      AFTER_PICK
   {% endif %}

#
# Wipe direction is towards the tool bar
#
[gcode_macro TC_WIPE]
#default_parameter_BAR: 0
gcode:
   {% set bar = params.BAR|default(0)|int %}
   #M118 TC_WIPE tool_bar={BAR}
   G91
   {% if bar == 1 %}
      G1 X10 F30000
      G1 X-10
   {% elif bar == 2 %}
      G1 X-10 F30000
      G1 X10 
   {% elif bar == 3 %}
      G1 Y-10 F30000
      G1 Y10
   {% endif %}
   G90


[gcode_macro TC_PARK]
variable_tool_bar: 0
variable_drop_z: 15
variable_delta_x: 0
variable_delta_y: 0
gcode:
   M118 TC_PARK tool_bar={tool_bar} drop_z={drop_z}
   {% set pos = (printer.gcode_move.position.x|round(1), printer.gcode_move.position.y|round(1)) %}
   M118 pos = {pos}
   G91
   {% if tool_bar == 1 %}
      G1 X27.5 Y2.6 F10000
      G1 X8.9 Y0.5 
      G1 Z-{drop_z} 
      {% set dx = 27.5 + 8.9 %}
      {% set dy = 2.6 + 0.5 %}
   {% elif tool_bar == 2 %}
      G1 X-16.5 Y23.4
      G1 X-4.9 Y7.5
      G1 Z-{drop_z} 
      {% set dx = -16.5 - 4.9 %}
      {% set dy = 23.4 +7.5 %}
   {% elif tool_bar == 3 %}
      G1 X-12 Y-26 F10000
      G1 X-4 Y-8
      G1 Z-{drop_z} 
      {% set dx = -12 - 4 %}
      {% set dy = -26 - 8 %}
   {% endif %}
   G90
   {% set pos = (printer.gcode_move.position.x|round(1), printer.gcode_move.position.y|round(1)) %}
   M118 POS = ({(pos[0]|float + dx)|round(1)}, {(pos[1]|float + dy)|round(1)})

   SET_GCODE_VARIABLE MACRO=TC_UNPARK VARIABLE=lift_z VALUE={drop_z}
   SET_GCODE_VARIABLE MACRO=TC_UNPARK VARIABLE=tool_bar VALUE={tool_bar}
   SET_GCODE_VARIABLE MACRO=TC_PARK VARIABLE=tool_bar VALUE=0

[gcode_macro TC_UNPARK]
variable_tool_bar: 0
variable_lift_z: 15
gcode:
   M118 TC_UNPARK tool_bar={tool_bar} lift_z={lift_z}
   G91
   {% if tool_bar == 1 %}
      G1 Z{lift_z|int - 1} F1000
      G1 X-8.9 Y-0.5 
      G1 X-27.5 Y-2.6 F5000
   {% elif tool_bar == 2 %}
      G1 Z{lift_z|int - 1} F1000
      G1 X4.9 Y-7.5
      G1 X16.5 Y-23.4 F5000
   {% elif tool_bar == 3 %}
      G1 Z{lift_z|int - 1} F1000
      G1 X4 Y8
      G1 X12 Y26 F5000
   {% endif %}	
   G90
   SET_GCODE_VARIABLE MACRO=TC_PARK VARIABLE=tool_bar VALUE={tool_bar}
   SET_GCODE_VARIABLE MACRO=TC_UNPARK VARIABLE=tool_bar VALUE=0

[gcode_macro WOBBLE_XY]
# Usage: WOBBLE_XY D=1
gcode:
   G1 X{params.D|int / 2} Y{params.D|int / 2}
   G1 X-{params.D} Y-{params.D}
   G1 Y{params.D}
   G1 X{params.D} Y-{params.D}
   G1 X-{params.D|int / 2} Y{params.D|int / 2}

#
# Demo Loop
#
# start with tools docked at T0 and T1
[gcode_macro ROTATE_TOOLS]
gcode:
   PICK_T0
   DOCK_T2
   PICK_T1
   DOCK_T0
   PICK_T2
   DOCK_T1

[delayed_gcode TC_LOOP]
initial_duration: 0
gcode:
   ROTATE_TOOLS
   UPDATE_DELAYED_GCODE ID=TC_LOOP DURATION=5
[gcode_macro START_TC]
gcode:
   G28
   UPDATE_DELAYED_GCODE ID=TC_LOOP DURATION=1
[gcode_macro STOP_TC]
gcode:
   UPDATE_DELAYED_GCODE ID=TC_LOOP DURATION=0
   G1 X0 Y0

#######################


