[gcode_macro AUTO_BED_MAPPING]
variable_retry: 0
variable_max_temp: 50       # max nozzle temperature for probing with nozzle
gcode:
  M118 // {printer.print_stats.state}
  {% if printer.print_stats.state == "Printing" and retry < 2 %}
     M118 Ignored while printing.
     SET_GCODE_VARIABLE MACRO=AUTO_BED_MAPPING VARIABLE=retry VALUE={retry+1}
  {% elif max_temp > 0 and printer.extruder.temperature > max_temp %}
     M118 // Nozzle too hot to probe.
  {% endif %}


[gcode_macro TOO_LOW]
gcode:
  {% set step = params.STEP|default(0.05)|float %}
  {% if printer.toolhead.position.z|float > printer.toolhead.axis_maximum.z|float - 5 %}
    ADJUST_GCODE_OFFSET Z_ADJUST={step}
  {% else %}
    {% set hop = 1.0 + step %}
    ADJUST_GCODE_OFFSET Z_ADJUST={hop} MOVE=1
    ADJUST_GCODE_OFFSET Z_ADJUST=-1.00 MOVE=1
  {% endif %}

[gcode_macro TOO_HIGH]
gcode:
  {% set step = params.STEP|default(0.05)|float %}
  {% if printer.toolhead.position.z|float > printer.toolhead.axis_maximum.z|float - 5 %}
    ADJUST_GCODE_OFFSET Z_ADJUST={-step}
  {% else %}
    {% set hop = 1.0 - step %}
    ADJUST_GCODE_OFFSET Z_ADJUST={hop} MOVE=1
    ADJUST_GCODE_OFFSET Z_ADJUST=-1.00 MOVE=1
  {% endif %}


[delayed_gcode LOAD_GCODE_OFFSETS]
## Load from save_variables, at restart, gcode offsets for the current tool
initial_duration: 0.1
gcode:
   {% set current_tool = printer.save_variables.variables.get("current_tool", 0) %}
   SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=current_tool VALUE={current_tool}
   RESTORE_GCODE_OFFSET VERBOSE=1
   TURN_OFF_HEATERS

[gcode_macro SET_GCODE_OFFSET]
variable_current_tool: 0
rename_existing: _SET_GCODE_OFFSET
gcode:
   {% set active = printer.toolhead.get("extruder", "extruder") %}
   M118 // active={active}
   {% if active == "extruder1" %}
      {% set current_tool = 1 %}
   {% elif active == "extruder2" %}
      {% set current_tool = 2 %}
   {% else %}
      {% set current_tool = 0 %}
   {% endif %}
   SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=current_tool VALUE={current_tool}

   {% set svv = printer.save_variables.variables %}
   {% set offset_key = 'tool' ~ current_tool~ '_adjusted_offsets' %}
   {% set offsets = svv.get(offset_key, {'x': 0.0, 'y': 0.0, 'z': 0.0}) %}
   {% set newparams = "" %}
   {% for p in params %}
      M118 // p={p} params[p]={params[p]} newparams={newparams}
      {% if p.lower() in "xyz" %}
        {% set newparams = newparams ~ p ~ '=' ~ (params[p]|float + offsets[p.lower()]|float) ~ ' ' %}
      {% else %}
        {% set newparams = newparams ~ p ~ '=' ~ params[p] ~ ' ' %}
      {% endif %}
   {% endfor %}
   M118 // SET_GCODE_OFFSET current_tool={current_tool} newparams={newparams}
   _SET_GCODE_OFFSET {newparams}


[gcode_macro ADJUST_GCODE_OFFSET]
gcode:
   SET_GCODE_OFFSET  # this is set the current_tool variable to the active extruder
   {% set current_tool = printer["gcode_macro SET_GCODE_OFFSET"].current_tool %}

   {% set svv = printer.save_variables.variables %}
   {% set offset_key = 'tool' ~ current_tool~ '_adjusted_offsets' %}
   {% set o = svv.get(offset_key, {'x': 0.0, 'y': 0.0, 'z': 0.0, 'probe_z': 0.0}) %}
   {% set ns = namespace(offsets={'x': o.x,'y': o.y,'z': o.z,'probe_z': o.probe_z}) %}
   {% set newparams = " " %}  
   {% for p in params %}
      {% if p[0].lower() in "xyz" %}
         {% set adjust = params[p]|float %}
         {% set null = ns.offsets.update({p[0].lower(): (ns.offsets[p[0].lower()] + adjust)|round(4)}) %}
         {% set newparams = newparams ~ p[0] ~ '_ADJUST = 0 ' %}
      {% endif %}
   {% endfor %}
   SAVE_VARIABLE VARIABLE={offset_key} VALUE="{ns.offsets}"
   M118 // ADJUST_GCODE_OFFSET newparams={newparams}
   SET_GCODE_OFFSET {newparams}
   M118 // ADJUST_GCODE_OFFSET current_tool={current_tool} offsets={ns.offsets}

[gcode_macro RESTORE_GCODE_OFFSET]
## restore gcode offset for current tool
## should be called after restart and toolchanges (default T0)
gcode:
   {% set svv = printer.save_variables.variables %}
   {% set move = params.MOVE|default(0)|int %}
   {% if params.TOOL|default(None) != None %}
      {% set current_tool = params.TOOL|int %}
   {% else %}
      {% set current_tool = printer["gcode_macro SET_GCODE_OFFSET"].current_tool %}
   {% endif %}
   {% set offset_key = 'tool' ~ current_tool ~ '_adjusted_offsets' %}
   {% set offsets = svv.get(offset_key, None) %}
   {% if offsets != None %}
      _SET_GCODE_OFFSET X={offsets.x} Y={offsets.y} Z={offsets.z - offsets.probe_z|float} MOVE={move}
   {% else %}
      ## initialize offset for current tool, using the z_offset from probe config
      {% set cfg_z = printer["configfile"].config["probe"].get("z_offset", 0.0)|float %}
      {% set ns = namespace(offsets={'x': 0.0, 'y': 0.0, 'z': 0.0, 'probe_z': cfg_z}) %}
      SAVE_VARIABLE VARIABLE={offset_key} VALUE="{ns.offsets}"
   {% endif %}
      
   {% if params.VERBOSE|default(0)|int == 1 %}
      M118 // RESTORE_GCODE_OFFSET current_tool={current_tool} move={move} offset_key={offset_key} offsets={offsets|pprint}
      {action_respond_info("restore gcode offset: %s = %s" % (offset_key, offsets|pprint))}
   {% endif %}

   SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=current_tool VALUE={current_tool}

