#
# Date: 10/15/2025 (was 9/13/2025)
#
# DeltaMaker printer config file: deltamaker-dual-revo-macros.cfg
# Revo Dual Extruder: DeltaMaker Dual Extruder
#
# Toolhead Objects: Extruder, Extruder1, Hotend, Fan, Probe
# Electrical Connector: Classic Molex 16-pin Toolhead connector
#

[include /home/pi/deltamaker-config/probe-servo-tap.cfg]

##### INITIALIZATION #####
[delayed_gcode STARTUP_INIT_TOOL]
initial_duration: 0.1   # was 1
gcode:
   {% set current_tool = printer.save_variables.variables.get("current_tool", 0) %}
   SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=current_tool VALUE={current_tool}

##### OVERRIDE BUILD-IN PROBE COMMAND #####
[gcode_macro PROBE]
rename_existing: PROBE_REAL
gcode:
   M118 // PROBE {rawparams}
   SELECT_TOOL PROBING=1
   PROBE_REAL {rawparams}
   SELECT_TOOL PROBING=0

##### SELECT TOOL MACRO #####
[gcode_macro SELECT_TOOL]
variable_current_tool: 0
gcode:
   {% set tool = params.TOOL|default(current_tool)|int %}
   {% if params.PROBING|default(-1)|int == 1 %} # before probe
      RESTORE_GCODE_OFFSET TOOL=0 VERBOSE=1 # set tool 0 offset for probing
      LOWER_NOZZLE
   {% elif params.PROBING|default(-1)|int == 0 %} # after probe
      {% if current_tool == 1 %}
         LIFT_NOZZLE
      {% else %}
         LOWER_NOZZLE
      {% endif %}
      RESTORE_GCODE_OFFSET TOOL={current_tool} VERBOSE=1
     
   {% elif params.TOOL|default(None) != None %}
      {% if tool != current_tool %}
         M118 // SELECT_TOOL tool={current_tool}
         {% if tool == 1 %}
            ACTIVATE_EXTRUDER EXTRUDER=extruder1
            LIFT_NOZZLE
         {% else %}
            ACTIVATE_EXTRUDER EXTRUDER=extruder
            LOWER_NOZZLE
         {% endif %}
         SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=current_tool VALUE={tool}
         RESTORE_GCODE_OFFSET TOOL={tool} VERBOSE=1
      {% endif %}
   {% endif %}

[gcode_macro T0]
gcode:
   SELECT_TOOL TOOL=0

[gcode_macro T1]
gcode:
   SELECT_TOOL TOOL=1

