#
# Date: 10/15/2025 (was 9/13/2025)
#
# DeltaMaker printer config file: deltamaker-dual-revo-macros.cfg
# Revo Dual Extruder: DeltaMaker Dual Extruder
#
# Toolhead Objects: Extruder, Extruder1, Hotend, Fan, Probe
# Electrical Connector: Classic Molex 16-pin Toolhead connector
#

[include /home/pi/deltamaker-config/probe-servo-tap.cfg]

##### INITIALIZATION #####
[delayed_gcode STARTUP_INIT_TOOL]
initial_duration: 0.1   # was 1
gcode:
   {% set current_tool = printer.save_variables.variables.get("current_tool", 0) %}
   SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=current_tool VALUE={current_tool}
   {% set max_z_tc = printer.toolhead.axis_maximum.z|float - 20 %}
   SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=max_z_tc VALUE={max_z_tc}

##### OVERRIDE BUILD-IN PROBE COMMAND #####
[gcode_macro PROBE]
rename_existing: _PROBE
gcode:
   M118 // PROBE {rawparams}
   {% set before_probe_tool = printer["gcode_macro SELECT_TOOL"].current_tool %}
   M118 PROBE before_probe_tool={before_probe_tool}
   SELECT_TOOL PROBING=0
   #SELECT_TOOL PROBING=1
   #LOWER_NOZZLE
   _PROBE {rawparams}
   SELECT_TOOL TOOL={before_probe_tool}
   #{% if current_tool == 1 %}
   #   LIFT_NOZZLE
   #{% endif %}
   #SELECT_TOOL PROBING=0

##### SELECT TOOL MACRO #####
[gcode_macro SELECT_TOOL]
variable_current_tool: 0
variable_lift_dist: 4
variable_max_z_tc: 0
gcode:
   {% set tool = params.TOOL|default(current_tool)|int %}
   M118 SELECT_TOOL {current_tool} -> {tool} 
   {% set act_z = printer.toolhead.position.z|float %}
   M118 max_z_tc={max_z_tc} act_z={act_z}
   {% if act_z > max_z_tc %}
      G90
      G1 Z{max_z_tc} F4200
   {% endif %}
   {% if tool != current_tool %}
      #M118 // SELECT_TOOL tool={current_tool}
      SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=current_tool VALUE={tool}
      {% if tool == 1 %}
         #LIFT_NOZZLE
         SET_NOZZLE_LIFT ANGLE=180 FAST=1
         RESTORE_GCODE_OFFSET TOOL={tool} VERBOSE=1 MOVE=1
         ACTIVATE_EXTRUDER EXTRUDER=extruder1   
      {% else %}
         G91
         G1 Z{lift_dist} F4200
         G90
         RESTORE_GCODE_OFFSET TOOL={tool} VERBOSE=1 MOVE=1
         ACTIVATE_EXTRUDER EXTRUDER=extruder
         #LOWER_NOZZLE
         SET_NOZZLE_LIFT ANGLE=0 FAST=1
         G91
         G1 Z-{lift_dist} F4200
         G90
      {% endif %}
      #SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=current_tool VALUE={tool}
      #RESTORE_GCODE_OFFSET TOOL={tool} VERBOSE=1 MOVE=1
   {% endif %}


[gcode_macro T0]
gcode:
   SELECT_TOOL TOOL=0
   #RESTORE_GCODE_OFFSET TOOL=0 VERBOSE=1 MOVE=1
   #SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=current_tool VALUE=0
   #ACTIVATE_EXTRUDER EXTRUDER=extruder
   #LOWER_NOZZLE

[gcode_macro T1]
gcode:
   SELECT_TOOL TOOL=1
   #LIFT_NOZZLE
   #RESTORE_GCODE_OFFSET TOOL=1 VERBOSE=1 MOVE=1
   #SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=current_tool VALUE=1
   #ACTIVATE_EXTRUDER EXTRUDER=extruder1
   

