
# Must center the tool head before HOMING to avoid hitting docking pins.
[homing_override]
gcode:
   HOMING_OVERRIDE

[gcode_macro HOMING_OVERRIDE]
variable_must_center: 0
gcode:
   M118 HOMING_OVERRIDE, must_center={must_center}
   {% if must_center > 0 %}
      SET_GCODE_VARIABLE MACRO=HOMING_OVERRIDE VARIABLE=must_center VALUE=0
      G90
      G1 X0 Y0 F10000
   {% endif %}
   G28
   G91
   G1 Z-10 F4000
   G90

[gcode_macro TC_MOVE]
gcode:
   SET_TC_STATE
   {% set svv = printer.save_variables.variables %}
   {% if 'SAFE' in params %}
      {% set dock_key = 'dock' ~ params.SAFE %}
      {% set d = svv.get(dock_key, None) %}
      {% if d != None %}
         M118 Move to {d.safe}
         #G1 X0 Y0 Z{d.bar_z}
         G1 X{d.safe[0]} Y{d.safe[1]} 
      {% endif %}
   {% elif 'DOCK' in params %}
      {% set dock_key = 'dock' ~ params.DOCK %}
      {% set d = svv.get(dock_key, None) %}
      {% if d != None %}
         M118 Move to {d.dock}
         G1 X0 Y0 Z{d.bar_z}
         G1 X{d.safe[0]} Y{d.safe[1]} 
         G1 X{d.dock[0]} Y{d.dock[1]} 
      {% endif %}
   {% elif 'PICK' in params %}
      {% set dock_key = 'dock' ~ params.PICK %}
      {% set d = svv.get(dock_key, None) %}
      {% if d != None %}
         M118 Move to {d.pick}
         G1 X0 Y0 Z{d.below_z}
         G1 X{d.safe[0]} Y{d.safe[1]} 
         #G1 X{d.dock[0]} Y{d.dock[1]} 
         G1 X{d.pick[0]} Y{d.pick[1]} 
      {% endif %}
   {% endif %}
   RESTORE_STATE 
   

[gcode_macro TC_SAVE]
gcode:
   SET_TC_STATE
   {% set svv = printer.save_variables.variables %}
   {% set pos = printer.gcode_move.position %}
   {% set cur_pos = (pos.x|round(1), pos.y|round(1)) %}
   {% set cur_z = pos.z|round(1) %}
   {% set num = params.get('SAFE',params.get('DOCK',params.get('PICK',None))) %}
   {% if num == None %}
      M118 Usage: TC_SAVE SAFE|DOCK|PICK = <num>
   {% else %}
      {% set dock_key = 'dock' ~ num %}
      {% set d = svv.get(dock_key, None) %}
      {% if d != None %}
         {%set safe=d.safe%} {%set dock=d.dock%} {%set pick=d.pick%} 
         {%set bar_z=d.bar_z%}{%set below_z=d.below_z%}
         {%if 'SAFE' in params %} {% set safe=cur_pos %} 
         {%elif 'DOCK' in params %}{% set dock=cur_pos %} {% set bar_z=cur_z %}
         {%elif 'PICK' in params %} {% set pick=cur_pos %} {% set below_z=cur_z %}
         {%endif%}

         {% set ns = namespace(dock={'bar': d.bar, 'safe': safe, 'dock': dock, 'pick': pick, 'bar_z': bar_z, 'below_z': below_z}) %}
         SAVE_VARIABLE VARIABLE={dock_key} VALUE="{ns.dock}"
      {% else %}
         M118 TC_SAVE: error
      {% endif %}
   {% endif %}
   RESTORE_STATE
   
# ------------------------
# Tool Changer Macros
# ------------------------

[gcode_macro TOOL_CHANGE]
gcode:
    {% set tool_dock_map = printer["gcode_macro TOOL_STATUS"].tool_dock_map %}
    {% set active_tool_id = printer["gcode_macro TOOL_STATUS"].active_tool %}
    {% set target_tool_id = params.target_tool|int %}
    {% set active_tool = 'T' ~ active_tool_id %}
    {% set target_tool = 'T' ~ target_tool_id %}
   
    {% set current_dock = tool_dock_map.get(active_tool, None) %}
    {% set target_dock = tool_dock_map.get(target_tool, None) %}

    # Check if the target tool is already active
    {% if active_tool == target_tool %}
        {action_respond_info("Tool " ~ target_tool ~ " is already active.")}
    {% else %}
	    # Park the current tool if one is active
	    {% if current_dock != None %}
	        {action_respond_info("Parking tool " ~ active_tool ~ " in dock " ~ current_dock)}
	        PARK_TOOL TOOL={ active_tool_id }
	        #{% do tool_dock_map.update({active_tool: current_dock}) %}
	    {% endif %}

	    # Pick up the target tool
	    {% if target_dock != None %}
		    {action_respond_info("Picking up tool " ~ target_tool ~ " from dock " ~ target_dock)}
		    PICKUP_TOOL TOOL={ target_tool_id }
		    #{% do tool_dock_map.update({target_tool: None}) %}
            SAVE_GCODE_VARIABLE MACRO=TOOL_STATUS VARIABLE=active_tool VALUE="{ target_tool_id }"
		    # Persist the updated tool-to-dock map
		    SAVE_GCODE_VARIABLE MACRO=TOOL_STATUS VARIABLE=tool_dock_map VALUE="{ tool_dock_map }"
		    {action_respond_info("Tool change complete. Active tool: " ~ target_tool)}
	    {% endif %}
    {% endif %}




#[gcode_macro INIT_TOOL_DOCK_MAP]
[delayed_gcode INIT_TOOL_DOCK_MAP]
initial_duration: 1
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set initial_map = svv.get("tool_dock_map", {'T0': 'dock0', 'T1': 'dock1', 'T2': 'dock2', 'T3': 'dock3'}) %}
    {% set active_tool = svv.get("active_tool_id", 0) %}
    {action_respond_info("Tool-to-dock mapping initialized: " ~ initial_map)}
    {action_respond_info("Active tool initialized: " ~ active_tool)}
	
    SAVE_VARIABLE VARIABLE="tool_dock_map" VALUE="{ initial_map }"
    SAVE_VARIABLE VARIABLE="active_tool" VALUE="{ active_tool }"
    SET_GCODE_VARIABLE MACRO=TOOL_STATUS VARIABLE=tool_dock_map VALUE="{ initial_map }"
    SET_GCODE_VARIABLE MACRO=TOOL_STATUS VARIABLE=active_tool VALUE="{ active_tool }"
	
# ============================================
# Macro: INIT_TOOL_DOCKS
# Purpose: Initialize or reset all docking locations
# Usage: INIT_TOOL_DOCKS
# ============================================
[gcode_macro INIT_TOOL_DOCKS]
gcode:
    {% set docks = ({
        'dock0': {'bar': 3, 'safe': (-107.0, -145.0), 'dock': (-69.0, -192.5), 'pick': (-85.2, -226.3), 'bar_z': 291.4, 'below_z': 242.0},
        'dock1': {'bar': 3, 'safe': (93.0, -150.0), 'dock': (103.7, -193.5), 'pick': (91, -225.5), 'bar_z': 291.5, 'below_z': 241.0},
        'dock2': {'bar': 1, 'safe': (150, 0.0), 'dock': (189.8, -50.8), 'pick': (226, 53.3), 'bar_z': 291.0, 'below_z': 241.0},
        'dock3': {'bar': 2, 'safe': (50.0, 50.0), 'dock': (75.0, 75.0), 'pick': (90.0, 100.0), 'bar_z': 291.0, 'below_z': 241.0}
    }, ) %}
    {% for dock_name, dock_config in docks[0].items() %}
        SAVE_VARIABLE VARIABLE="{ dock_name }" VALUE="{ dock_config }"
        {action_respond_info("Initialized " ~ dock_name ~ ": " ~ dock_config)}
    {% endfor %}

# ============================================
# Macro: UPDATE_TOOL_DOCK
# Purpose: Update the configuration of a specific dock
# Usage: UPDATE_TOOL_DOCK DOCK_ID=<dock_id> KEY=<key> VALUE=<value>
# ============================================
[gcode_macro UPDATE_TOOL_DOCK]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set tool_dock_map = svv.get("tool_dock_map", None) %}
    {% if tool_dock_map == None %}
        {action_respond_info("Error: Tool-to-dock mapping is not initialized.")}
    {% else %}
	    {% set tool = 'T' ~ params.TOOL|int %}
	    {% set dock = params.DOCK %}
	    {% if tool not in tool_dock_map %}
	        {action_respond_info("Error: Invalid tool " ~ tool ~ ".")}
        {% else %}
		    {% if not dock.startswith("dock") %}
		        {action_respond_info("Error: Invalid dock name " ~ dock ~ ". Must start with 'dock'.")}
		    {% endif %}
		    {% set updated_tool_dock_map = tool_dock_map.copy() %}
		    {% set _ = updated_tool_dock_map.update({tool: dock}) %}
		    SAVE_VARIABLE VARIABLE="tool_dock_map" VALUE="{ updated_tool_dock_map }"
		    SET_GCODE_VARIABLE MACRO=TOOL_STATUS VARIABLE=tool_dock_map VALUE="{ updated_tool_dock_map }"
		    {action_respond_info("Updated tool-to-dock mapping: " ~ tool ~ " -> " ~ dock)}
        {% endif %}
   {% endif %}

# ============================================
# Macro: LIST_TOOL_DOCK_MAP
# Purpose: List the current tool-to-dock mapping
# Usage: LIST_TOOL_DOCK_MAP
# ============================================
[gcode_macro LIST_TOOL_DOCK_MAP]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set tool_dock_map = printer["gcode_macro TOOL_STATUS"].tool_dock_map %}
    {% if tool_dock_map == {} %}
        {action_respond_info("Error: Tool-to-dock mapping is not initialized.")}
    {% else %}
	    {action_respond_info("Current tool-to-dock mapping:")}
	    {% for tool, dock in tool_dock_map.items() %}
	        {action_respond_info("Tool " ~ tool ~ " -> " ~ (dock if dock else "No Dock"))}
	    {% endfor %}
    {% endif %}

# ============================================
# Macro: TOOL_STATUS
# Purpose: Display the current tool status
# Usage: TOOL_STATUS
# ============================================
[gcode_macro TOOL_STATUS]
variable_tool_dock_map: {}
variable_active_tool: None
gcode:
    {% if tool_dock_map == {} %}
        {action_respond_info("Error: Tool-to-dock mapping is not initialized.")}
    {% else %}
        {action_respond_info("Tool-to-dock mappings:")}
        {% for tool, dock in tool_dock_map.items() %}
            {action_respond_info("Tool " ~ tool ~ " -> " ~ (dock if dock else "No Dock"))}
        {% endfor %}
        {action_respond_info("Active tool: " ~ ("None" if active_tool == None else "T"~active_tool))}
    {% endif %}

# ------------------------
# Tool Changer Docking Macros
# ------------------------

	
# ============================================
# Macro: PARK_TOOL
# Purpose: Park the tool in dock using specific motions for each bar
# Usage: PARK_TOOL TOOL=<tool_number>
# ============================================
[gcode_macro PARK_TOOL]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set tool_dock_map = printer["gcode_macro TOOL_STATUS"].tool_dock_map %}
    {% if tool_dock_map == {} %}
        {action_respond_info("Error: Tool-to-dock mapping is not initialized.")}
    {% elif 'TOOL' in params %}
	    {% set tool = 'T' ~ params.TOOL|int %}
	    {% set dock_key = tool_dock_map.get(tool, None) %}
	    {% if dock_key == None %}
	        {action_respond_info("Error: No dock assigned for tool " ~ tool)}
	    {% else %}
		    {% set dock = svv.get(dock_key, None) %}
		    {% if dock == None %}
		        {action_respond_info("Error: Dock configuration for " ~ dock_key ~ " is missing.")}
		    {% else %}
			    BEFORE_DOCK BAR={ dock['bar'] } Z={ dock['bar_z'] }
			    ; Move to dock X,Y
			    G1 X{ dock['dock'][0] } Y{ dock['dock'][1] } F20000
			    TC_PARK
			    ; push to pickup X,Y
			    G1 X{ dock['pick'][0] } Y{ dock['pick'][1] } F5000
				
			    ; Debug current position
			    {% set pos = (printer.gcode_move.position.x|round(1), printer.gcode_move.position.y|round(1)) %}
			    M118 DOCK_TOOL pos = {pos}

			    ; Drop below docked tool and move to safe position
			    G1 Z{ dock['below_z'] } F10000
			    G1 X{ dock['safe'][0] } Y{ dock['safe'][1] } F20000
			    AFTER_DOCK Z={ dock['bar_z'] } Z0={ dock['below_z'] }
		    {% endif %}
	    {% endif %}
    {% endif %}



# ============================================
# Macro: BEFORE_DOCK
# Purpose: Prepare the printer for docking
# Usage: BEFORE_DOCK BAR=<bar_number> Z=<docking_z>
# ============================================
[gcode_macro BEFORE_DOCK]
gcode:
    M118 BEFORE_DOCK BAR={params.BAR} Z={params.Z}
    SET_GCODE_VARIABLE MACRO=TC_PARK VARIABLE=tool_bar VALUE={params.BAR}
    SET_TC_STATE
    TC_CENTER Z={params.Z}


# ============================================
# Macro: AFTER_DOCK
# Purpose: Perform operations after docking
# Usage: AFTER_DOCK Z=<docking_z> Z0=<safe_z>
# ============================================
[gcode_macro AFTER_DOCK]
gcode:
    TC_CENTER Z={params.Z0}
    RESTORE_STATE


# ============================================
# Macro: TC_PARK
# Purpose: Dock the tool with motion paths specific to each bar
# Usage: TC_PARK
# ============================================
[gcode_macro TC_PARK]
variable_tool_bar: 0
variable_drop_z: 15
gcode:
    M118 TC_PARK tool_bar={tool_bar} drop_z={drop_z}
    G91  ; Switch to relative positioning

    {% if tool_bar == 1 %}
        G1 X{ 27.5 } Y{ 2.6 } F10000
        G1 X{ 8.9 } Y{ 0.5 }
        G1 Z-{drop_z}
    {% elif tool_bar == 2 %}
        G1 X{ -16.5 } Y{ 23.4 } F10000
        G1 X{ -4.9 } Y{ 7.5 }
        G1 Z-{drop_z}
    {% elif tool_bar == 3 %}
        G1 X{ -12 } Y{ -26 } F10000
        G1 X{ -4 } Y{ -8 }
        G1 Z-{drop_z}
    {% endif %}

    G90  ; Switch back to absolute positioning
    SET_GCODE_VARIABLE MACRO=TC_UNPARK VARIABLE=lift_z VALUE={drop_z}
    SET_GCODE_VARIABLE MACRO=TC_UNPARK VARIABLE=tool_bar VALUE={tool_bar}
    SET_GCODE_VARIABLE MACRO=TC_PARK VARIABLE=tool_bar VALUE=0


# ============================================
# Macro: TC_CENTER
# Purpose: Move to the center (0, 0) optionally at a specified Z height
# Usage: TC_CENTER Z=<z_height>
# ============================================
[gcode_macro TC_CENTER]
gcode:
    G90
    {% set z = params.Z|default(0)|int %}
    {% if z > 0 %}
        G1 X0 Y0 Z{z} F20000
    {% else %}
        G1 X0 Y0 F20000
    {% endif %}
	

# ------------------------
# Tool Changer Pickup Macros
# ------------------------

# ============================================
# Macro: PICKUP_TOOL
# Purpose: Pick up a tool using specific motions for each bar
# Usage: PICK_TOOL TOOL=<tool_number>
# ============================================
[gcode_macro PICKUP_TOOL]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set tool_dock_map = printer["gcode_macro TOOL_STATUS"].tool_dock_map %}
    {% if tool_dock_map == {} %}
        {action_respond_info("Error: Tool-to-dock mapping is not initialized.")}
    {% else %}
	    {% set tool = 'T' ~ params.TOOL|int %}
	    {% set dock_key = tool_dock_map.get(tool, None) %}
	    {% if dock_key == None %}
	        {action_respond_info("Error: No dock assigned for tool " ~ tool)}
	     {% else %}
		    {% set dock = svv.get(dock_key, None) %}
		    {% if dock == None %}
		        {action_respond_info("Error: Dock configuration for " ~ dock_key ~ " is missing.")}
		    {% else %}
			    ; Prepare for tool pickup
			    BEFORE_PICK BAR={ dock['bar'] } Z={ dock['below_z'] }

			    ; Move to safe X, Y at Z below bottom of docked tool
			    G1 X{ dock['safe'][0] } Y{ dock['safe'][1] } Z{ dock['below_z'] } F20000

			    ; Move to pick X, Y
			    G1 X{ dock['pick'][0] } Y{ dock['pick'][1] } F20000

			    ; Lift to 15mm below docking bar height
			    G1 Z{ dock['bar_z']|int - 15 } F10000

			    ; Unpark the tool
			    TC_UNPARK

			    ; Move back to safe X, Y
			    G1 X{ dock['safe'][0] } Y{ dock['safe'][1] } F20000

			    ; Finalize pickup
			    AFTER_PICK
		    {% endif %}
	    {% endif %}
    {% endif %}


# ============================================
# Macro: BEFORE_PICK
# Purpose: Prepare the printer for tool pickup
# Usage: BEFORE_PICK BAR=<bar_number> Z=<z_below_tool>
# ============================================
[gcode_macro BEFORE_PICK]
gcode:
    M118 BEFORE_PICK BAR={params.BAR} Z={params.Z}
    SET_TC_STATE
    TC_CENTER
    TC_CENTER Z={params.Z}
    SET_GCODE_VARIABLE MACRO=TC_UNPARK VARIABLE=tool_bar VALUE={params.BAR}


# ============================================
# Macro: AFTER_PICK
# Purpose: Perform operations after tool pickup
# Usage: AFTER_PICK
# ============================================
[gcode_macro AFTER_PICK]
gcode:
    RESTORE_STATE

[gcode_macro SET_TC_STATE]
gcode:
   M118 SET_TC_STATE
   SAVE_GCODE_STATE NAME=before_tc_state
   SET_GCODE_OFFSET X=0 Y=0 Z=0
   M220 S100
   SET_VELOCITY_LIMIT VELOCITY=300 ACCEL=1000 ACCEL_TO_DECEL=500
   SET_GCODE_VARIABLE MACRO=HOMING_OVERRIDE VARIABLE=must_center VALUE=1

[gcode_macro RESTORE_STATE]
gcode:
   M118 RESTORE_STATE
   RESTORE_GCODE_STATE NAME=before_tc_state

# ============================================
# Macro: TC_UNPARK
# Purpose: Undock the tool with motion paths specific to each bar
# Usage: TC_UNPARK
# ============================================
[gcode_macro TC_UNPARK]
variable_tool_bar: 0
variable_lift_z: 14
gcode:
    M118 TC_UNPARK tool_bar={tool_bar} lift_z={lift_z}
    G91  ; Switch to relative positioning

    {% if tool_bar == 1 %}
        G1 Z{lift_z|int - 1} F1000
        G1 X-8.9 Y-0.5
        G1 X-27.5 Y-2.6 F5000
    {% elif tool_bar == 2 %}
        G1 Z{lift_z|int - 1} F1000
        G1 X4.9 Y-7.5
        G1 X16.5 Y-23.4 F5000
    {% elif tool_bar == 3 %}
        G1 Z{lift_z|int - 1} F1000
        G1 X4 Y8
        G1 X12 Y26 F5000
    {% endif %}

    G90  ; Switch back to absolute positioning
    SET_GCODE_VARIABLE MACRO=TC_PARK VARIABLE=tool_bar VALUE={tool_bar}
    SET_GCODE_VARIABLE MACRO=TC_UNPARK VARIABLE=tool_bar VALUE=0

